.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 0;
  margin-top: auto;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__content {
    text-align: center;
  }
}

